* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.love {
  width: 200px;
  height: 200px;
  background: #f20c00;
  position: relative;
  transform: rotate(45deg);
  animation: heartbit 1s infinite;
}

.love::after,
.love::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: inherit;
}

.love::after {
  left: -100px;
}
.love::before {
  top: -100px;
}

@keyframes heartbit {
  0% {
    width: 200px;
    height: 200px;
  }
  20% {
    width: 230px;
    height: 230px;
    background: #ff2121;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
